---
import Layout from "../layouts/Layout.astro";
---

<Layout title='404 Not Found'>
  <h1>😢 Lo sentimos, no hemos encontrado lo que buscabas 😢</h1>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 40px;
  }
</style>
