---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre mi - Test Astro">
    <h1>Esta es la sección 'Sobre Mi' en la prueba de Astro.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eos quae maxime quod dolor architecto nisi praesentium optio vel modi soluta asperiores eligendi vitae quos, natus facilis sapiente perferendis ipsam.</p>
</Layout>